Workflows/Version 1.json
{
  "name": "Version 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bf834655-8a9b-4d3b-8527-ccf4607a716b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/transcript.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "24da28c9-455f-4ca6-9822-3a743b916bbf",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "d4bb59f6-b105-4baa-8238-e84c03f5d687",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the transcript provided, output a JSON object with:\n\naccount_id: Generate a short ID.\n\ncompany_name: Ben's Electric.\n\nbusiness_hours: (List days/times if found).\n\nemergency_definition: (List triggers like power outages).\n* questions_or_unknowns: (List anything missing) .\nAlso, draft a v1 system prompt for the Clara voice agent following the greeting and purpose flow .\nThis is the intput file \n{{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        0
      ],
      "id": "96383a71-a74c-414e-9f95-516d19710134",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        208
      ],
      "id": "2a9e5ba2-aa45-468c-8711-14a6ff699e6b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "SwIwZ7i8taTWOMiw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        0
      ],
      "id": "34721ff7-c6cf-4922-a711-2ab1fda8fec6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/outputs/bens_electric/v1/memo.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1216,
        0
      ],
      "id": "394de2bc-427f-4ca6-89db-ba88aab538c2",
      "name": "Read/Write Files from Disk1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06093e83-a734-41bc-8bbd-866357477ed9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b26ea6c19e10a0cbce16dc495b5521325684c6cf84719ae7e6aba5bd20777d06"
  },
  "id": "8KnCknlkWS1kNxc0",
  "tags": []
}